<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click="logout()" )> iFinanças!! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime
      displayFormat="MM/YYYY"
      pickerFormat="MMMM YYYY"
      [(ngModel)]="date" (ngModelChange)='atualizaContas()'
    ></ion-datetime>
  </ion-item>

  <dash-card
    tipo="pagar"
    valor="{{conta.pagar.valor}}"
    num="{{conta.pagar.num}}"
  ></dash-card>
  <dash-card
    tipo="receber"
    valor="{{conta.receber.valor}}"
    num="{{conta.receber.num}}"
  ></dash-card>
  <dash-card
    tipo="saldo"
    valor="{{conta.saldo.valor}}"
    num="{{conta.saldo.num}}"
  ></dash-card>

  <div id="btnMenu">
    <ion-button expand="block" fill="outline" [routerLink]="['/contas/pagar']"
      >Contas a pagar</ion-button
    ><br />
    <ion-button expand="block" fill="outline" [routerLink]="['/contas/receber']"
      >Contas a receber</ion-button
    ><br />
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="large">Footer</ion-title>
  </ion-toolbar>
</ion-footer>
