<ion-content class="ion-padding">

  
  <topo-login title="Cadastrar usuário"></topo-login>
  
  <form [formGroup]="registerForm" (submit)="createUser()">

    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome"  autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail"></ion-input>
    </ion-item>
    
    <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input formControlName="confirm_Password" type="password" placeholder="Senha"></ion-input>
      </ion-item>
    <ion-button [disabled]="loginForm.invalid" type=submit expand="block" color="minha">Enviar</ion-button>
  </form>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>