<ion-content class="ion-padding">

  
  <topo-login title = "Esqueci minha senha"></topo-login>
  
  <form [formGroup]="forgotForm" (submit)="login()">
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-button [disabled]="forgotForm.invalid" type=submit expand="block" color="minha">Enviar</ion-button>
  </form>



</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>