<div  id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <img src="../../../assets/icon/carteira-digital.png" width="11%" style="margin-right: 2%;">
    <h1>iFinanças</h1>
  </ion-text>  
</div>
